/*Padrao de estilo
.div{
    Tamanho ( width e height )

    Visualizacao e orientação ( display, flex-direction )

    Estilizacao ( background, border )

    Posicionamento (justify, align, z-index)
}
*/

*{
    padding: 0;
    margin: 0;
}

.geralLogin{ 
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#FFD0D6;

    justify-content: center;
    align-items: flex-start;
}

.cachorroImagem{
    width: 50vw;
    height:70vh;

    position: fixed;
    margin-top: 200px;
    z-index: 2;
}

.retangulo{
    width: calc(25vw - 0px);
    height: calc(70vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#7DCDE7;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    justify-content: center;
    align-items: center;
    margin-left: 600px;
    z-index: 3;
   
}
.geralIcone{
    width: calc(15vw - 0px);
    height: calc(30vh - 0px);

    display: flex;
}
.icone{
    width: calc(15vw - 0px);
    height: calc(30vh - 0px);
}

.nome{
    width: calc(20vw - 0px);
    height: calc(8vh - 0px);

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 10px;
    
}
.nome input{
    width: calc(19vw - 0px);
    height: calc(5vh - 0px);

    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;

    padding-left: 10px;
}

.nome span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.animal{
    width: calc(20vw - 0px);
    height: calc(8vh - 0px);

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-bottom: 30px;
    
}
.animal input{
    width: calc(19vw - 0px);
    height: calc(5vh - 0px);

    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;

    padding-left: 10px;
}

.animal span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.botao{
    width: calc(15vw - 0px);
    height: calc(6vh - 0px);

    display: flex;

    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    justify-content: center;
    align-items: center;
    z-index: 3;
}

.botao input{
    width: calc(15vw - 0px);
    height: calc(6vh - 0px);
    
    border-style: none;
    border-radius:10px;
    background-color: #f58f29;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}



