*{
    padding: 0;
    margin: 0;
}

.geralLista{ 
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);

    display: flex;
    flex-direction: column;

    background-color:#FFD0D6;

    justify-content: center;
    align-items: flex-start;
}

.geralOpaco{ 
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    display: none;
    flex-direction: column;
    background-color: rgba(218, 205, 205, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.geralDiv{
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    display: flex;
    flex-direction: column;
    background-color:lightyellow;
    justify-content: center;
    align-items: center;
}

.retanguloListagem{
    width: 90%;
    height: calc(50vh - 0px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.retanguloScroll{
    width: calc(80vw - 0px);
    height: calc(60vh - 0px);
    display: flex;
    position: fixed;
    flex-direction: row;
    overflow-y: scroll;
    align-items: center;
    z-index: 2;
}

.retaguloFundo{
    width: 100%;
    height: calc(40vh - 0px);
    background-color:#7dcde7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.divBotao{
    width: calc(15vw - 0px);
    height: calc(50vh - 0px);
    justify-content: center;
    align-items:center;
    display: flex;
    border-radius: 10px;

}

.itemPet{
    width: calc(15vw - 0px);
    height: calc(50vh - 0px);

    background-color:#f58f29;

    display: flex;

    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;

    margin-right: 30px;
    justify-content: center;
    align-items:center;
    z-index: 3;
}

.botaoAdicionarPet{
    width: calc(15vw - 0px);
    height: calc(50vh - 0px);

    background-color:#2d728f;

    display: flex;

    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;

    margin-right: 30px;
    justify-content: center;
    align-items:center;
    z-index: 3;

}

.popUp{
    width: calc(40vw - 0px);
    height: calc(90vh - 0px);
    display: none;
    background-color:orange;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fechar{
    width: calc(2vw);
    height: calc(5vh);
    background-color: tomato;
    border-style: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 450px;
}

.popUpInterno{
    width: calc(25vw - 0px);
    height: calc(80vh - 0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

}
.animalDois{
    width: calc(20vw - 0px);
    height: calc(8vh - 0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left:20px;
    
}
.animalDois input{
    width: calc(21vw - 0px);
    height: calc(5vh - 0px);
    border-style:none;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding-left: 10px;
}

.animalDois span{
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.retanguloPetFundo{
    width: calc(100vw);
    height: calc(100vh);
    display: none;
    background-color: rgba(134, 134, 134, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.retanguloPet{
    width: calc(30vw);
    height: calc(70vh);

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    align-items: center;
    justify-content: center;
    z-index: 3;
}

.retanguloDados{
    width: calc(30vw);
    height: calc(80vh);

    display: flex;
    flex-direction: column;

    background-color:#ffd0d6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    margin-top: 30%;
    align-items: center;
    justify-content: center;
}

.circuloIcone{
    width: calc(12vw);
    height: calc(28vh);

    display: flex;
    flex-direction: column;

    background-color:#fff;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 18%;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.botaoFechar{
    width: calc(2vw);
    height: calc(4vh);

    display: flex;

    background-color: #7dcde7;
    border-radius: 50%;

    margin-left: 80%;
    margin-top:2%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.botaoFechar input{
    width: calc(2vw);
    height: calc(4vh);

    background-color: #7dcde7;
    border-style: none;
    border-radius: 50%;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #fff;
}

.rowDados{
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.rowDados span {

    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #191919;

    margin-left: 15px;

}
.rowDados input{
    width: 30%;
    height: 100%;

    display: flex;
    background-color:#3b8ea5;

    border-style: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #fff;

    margin-right: 30px;
}

.petQuadrado{
    width: calc(12vw);
    height: calc(28vh);
    border-radius: 50%;
}

#deletarPet{
    width: 100%;
    height: 10%;

    display: flex;
    background-color:#f15025;

    border-style: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #fff;

}